<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxt.comment_boot.mapper.DicMapper">
  <resultMap id="BaseResultMap" type="com.dxt.comment_boot.entity.Dic">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="type" jdbcType="VARCHAR" property="type" />
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
  </resultMap>
</mapper>